---
import "@/styles/global.css";
import "@radix-ui/themes/styles.css";
import Header from "@/components/react/UI/Header";
import Footer from "@/components/react/UI/Footer";
import AnimatedNetworkBackground from "@/components/react/UI/Animation/AnimetedNetworkBackground";
import TracingBeam from "@/components/uiAceternity/UI/components/TracingBeam";
import Analytics from "@vercel/analytics/astro";
import ScrollArrow from "@/components/react/UI/components/ScrollArrow";
import SplashScreen from "@/components/react/UI/components/SplashScreen";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "KONDRO-NETWORKS",
  description = "Accélérez la croissance et la compétitivité de votre entreprise grâce à notre expertise.",
} = Astro.props;
---

<!doctype html>
<html class="scroll-smooth" lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="apple-mobile-web-app-title" content="KONDRO-NETWORKS" />
    <meta
      name="description"
      content="Boostez la performance de votre entreprise grâce à des solutions réseau sur mesure.Nous accompagnons les PME et grandes structures dans l’installation, la gestion et la sécurisation de leurs infrastructures informatiques."
    />
    <meta property="og:image" content="/sitePreview.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="KONDRO-NETWORKS" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      rel="icon"
      type="image/png"
      href="/favicon/faviconLight/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/faviconLight/favicon-96x96.png"
    />
    <link rel="shortcut icon" href="/favicon/faviconLight/favicon-96x96.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/faviconLight/apple-touch-icon.png"
    />
    <ClientRouter />
    <link rel="manifest" href="/favicon/faviconLight/site.webmanifest" />
    <title title="ITEXPERE4AFICA">{title}</title>
  </head>

  <body
    class="bg-gradient-to-b from-it4a-secondary via-neutral-800 to-it4a-primary/80 box-border font-Poppins"
  >
    <AnimatedNetworkBackground className="-z-200" client:only />
    <Header
      client:load
      className="fixed"
      logo="/WhiteLogo.png"
      navItems={[
        {
          label: "Accueil",
          href: "/",
        },
        {
          label: "Services",
          href: "#services",
          subItems: [
            {
              label: "Tous les services",
              href: "/services",
            },
            {
              label: "Ingénierie / Design",
              href: "/services/ingenierie-design",
            },
            {
              label: "Implémentation",
              href: "/services/implementation",
            },
            {
              label: "Études",
              href: "/services/etudes",
            },
            {
              label: "Audit / AMOA",
              href: "/services/audit-amoa",
            },
            {
              label: "Gestion de Projets",
              href: "/services/gestion-projets",
            },
            {
              label: "Support et Exploitation",
              href: "/services/support-exploitation",
            },
            {
              label: "Formation IT",
              href: "/services/formation-it",
            },
            {
              label: "Développement d’applications",
              href: "/services/developpement-applications",
            },
          ],
        },
        {
          label: "À propos",
          href: "/about",
        },
        {
          label: "Contact",
          href: "/contact",
        },
      ]}
      ctaButton={{ label: "Contactez-nous", href: "/contact" }}
    />
    <main class="snap-mandatory flex items-center flex-col justify-center">
      <TracingBeam client:only>
        <ScrollArrow client:only />
        <slot transition:name="root" transition:animate="initial" />
      </TracingBeam>
    </main>
    <Footer bgGradient="bg-transparent backdrop-blur-xs" client:load />
    <Analytics client:only />

    <!-- SplashScreen Component -->
    <SplashScreen client:only transformer:animate="fade" />
  </body>
</html>
