---
import "@/styles/global.css";
import "@radix-ui/themes/styles.css";
import Header from "@/components/react/UI/Header";
import Footer from "@/components/react/UI/Footer";
import AnimatedNetworkBackground from "@/components/react/UI/Animation/AnimetedNetworkBackground";
import TracingBeam from "@/components/uiAceternity/UI/components/TracingBeam";
import Analytics from "@vercel/analytics/astro";
import ScrollArrow from "@/components/react/UI/components/ScrollArrow";
import SplashScreen from "@/components/react/UI/components/SplashScreen";
import { ClientRouter } from "astro:transitions";


export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "KONDRO-NETWORKS",
  description = "KONDRO NETWORKS Solutions technologiques avancées",
} = Astro.props;


---

<!doctype html>
<html class="scroll-smooth" lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta name="apple-mobile-web-app-title" content="Ite4a" />
    <meta
      name="description"
      content="Boostez la performance de votre entreprise grâce à des solutions réseau sur mesure.Nous accompagnons les PME et grandes structures dans l’installation, la gestion et la sécurisation de leurs infrastructures informatiques."
    />
    <meta
      property="og:image"
      content="https://ogcdn.net/c64a2e45-24fd-4359-a429-c7a45a78fbe8/v1/itexperts4africa/IT%20Experts%0A4%20Africa/Boostez%20la%20performance%20de%20votre%20entreprise%20gr%C3%A2ce%20%C3%A0%20des%20solutions%20r%C3%A9seau%20sur%20mesure.Nous%20accompagnons%20les%20PME%20et%20grandes%20structures%20dans%20l%E2%80%99installation%2C%20la%20gestion%20et%20la%20s%C3%A9curisation%20de%20leurs%20infrastructures%20informatiques./https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F4df55c30-02c4-4373-b5ad-180323229784.png%3Ftoken%3DtN6JC1VT6-frjkv4BDRmjdcWTfJVFOpsfqQNwBJSDH0%26height%3D415%26width%3D805%26expires%3D33289208197/og.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="IT4A" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      rel="icon"
      type="image/png"
      href="/favicon/faviconLight/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="/favicon/faviconLight/favicon-96x96.png"
    />
    <link rel="shortcut icon" href="/favicon/faviconLight/favicon-96x96.png" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/faviconLight/apple-touch-icon.png"
    />
    <ClientRouter />
    <link rel="manifest" href="/favicon/faviconLight/site.webmanifest" />
    <title title="ITEXPERE4AFICA">{title}</title>
  </head>

  <body
    class="bg-gradient-to-b from-it4a-secondary via-neutral-800 to-it4a-primary/80 box-border font-Poppins"
  >
    <AnimatedNetworkBackground className="-z-200" client:only />
    <Header
      client:load
      className="fixed"
      logo="/WhiteLogo.png"
      navItems={[
        {
          label: "Accueil",
          href: "/",
        },
        {
          label: "Services",
          href: "#services",
          subItems: [
            {
              label: "Tous les services",
              href: "/services",
            },
            {
              label: "Conseil et stratégie IT",
              href: "/services/conseil-strategie-it",
            },
            {
              label: "Réseaux et cybersécurité",
              href: "/services/reseaux-cybersecurite",
            },
            {
              label: "Solutions cloud et hébergement",
              href: "/services/cloud-hebergement",
            },
            {
              label: "Développement et intégration",
              href: "/services/developpement-integration",
            },
            {
              label: "Support et maintenance IT",
              href: "/services/support-maintenance",
            },
            {
              label: "Étude & Ingénierie",
              href: "/services/etude-ingenierie",
            },
            {
              label: "Gestion de projets IT",
              href: "/services/gestion-projets",
            },
          ],
        },
        {
          label: "À propos",
          href: "/about",
        },
        {
          label: "Contact",
          href: "/contact",
        },
      ]}
      ctaButton={{ label: "Contactez-nous", href: "/contact" }}
    />
    <main class="snap-mandatory flex items-center flex-col justify-center">
      <TracingBeam client:only>
        <ScrollArrow client:only />
        <slot transition:name="root" transition:animate="initial" />
      </TracingBeam>
    </main>
    <Footer bgGradient="bg-transparent backdrop-blur-xs" client:load />
    <Analytics client:only />

    <!-- SplashScreen Component -->
    <SplashScreen client:only transformer:animate="fade" />
  </body>
</html>
